<h1>GossipSolo#gossip</h1>
<p>On vois que dalle j'avais plus le temps sorry bruh</p>
<img src="https://media.giphy.com/media/l0HU3uWxRJ52SEmoU/giphy.gif" alt="">
<ul>
  <li>Title : <%= Gossip.find(@gossip_id).title %></li>
  <li>Contenu :<%= Gossip.find(@gossip_id).content %></li>
  <li>Prénom : <%= Gossip.find(@gossip_id).author.first_name %></li>
  <li>Nom : <%= Gossip.find(@gossip_id).author.last_name %></li>
</ul>

<a href="<%= root_path %>">retour a l'accueil</a>